<!-- common/footer.html -->
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
    </li>
    <li class="nav-item" id="foot_facebook">
        <a class="nav-link" href="https://www.facebook.com/tennisblock"
           target="_blank"><img
                src="/static/images/facebook/FB-f-Logo__blue_29.png"/></a>
    </li>
    <li class="nav-item" id="foot_twitter">
        <a class="nav-link" href="https://twitter.com/tennisblock"
           target="_blank"><img src="/static/images/twitter-bird-light-bgs.png" height="30" width="30"/>
        </a>
    </li>
</ul>
