<!-- common/footer.html -->
<section id="block_footer" class="pure-g col-lg-12">

    <ul class="pure-menu pure-menu-open pure-menu-horizontal">
        <li class="foottext"><a href="{% url 'contact' %}" class="first">Contact Us</a></li>
        <li class="foottext"><a href="{% url 'about' %}" >About Us</a></li>
        <li id="foot_facebook"
            class="icon"><a href="https://www.facebook.com/tennisblock"
                            target="_blank"><img src="/static/images/facebook/FB-f-Logo__blue_29.png"/></a></li>
        <li id="foot_twitter"
            class="icon">
            <a href="https://twitter.com/tennisblock"
               target="_blank"><img src="/static/images/twitter-bird-light-bgs.png" height="30" width="30"/>
            </a>
        </li>
    </ul>

</section>
