{% load wagtailcore_tags %}

<div class="side-navbar h-100">
    <ul class="top">
        <li class="{% if page and page.slug == 'home' %}active{% endif %}">
            <a href="/home/"><i class="fa fa-home"></i> Home</a>
        </li>

        {% url 'schedule:schedule' as schedule_url %}
        <li class="{% if request.path == schedule_url %}active{% endif %}">
            <a href="{{ schedule_url }}"><i class="fa fa-calendar"></i> Schedule</a>
        </li>

        {% url 'availability' as availability_url %}
        <li class="{% if request.path == availability_url %}active{% endif %}">
            <a href="{{ availability_url }}"><i class="fa fa-calendar-o"></i> Availability</a>
        </li>

        {% url 'members:player_list' as players_url %}
        <li class="{% if request.path == players_url %}active{% endif %}">
            <a href="{{ players_url }}"><i class="fa fa-users"></i> Players</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap"></i> Block Members</a>
        </li>

        {% url 'season:seasons' as seasons_url %}
        <li class="{% if request.path == seasons_url %}active{% endif %}">
            <a href="{{ seasons_url }}"><i class="fa fa-cog"></i> Seasons</a>
        </li>

        {% if request.user.is_staff and request.user.is_superuser %}
            <li>
                <a href="{% url 'wagtailadmin_login' %}" target="_blank"><i class="fa fa-cog"></i> CMS Admin</a>
            </li>
            <li>
                <a href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-cog"></i> Django Admin</a>
            </li>
        {% endif %}
    </ul>

    <ul class="bottom">
        <li class="{% if page and page.slug == 'about-us' %}active{% endif %}">
            <a href="/about-us/"><i class="fa fa-info-circle"></i> About Us</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-envelope-o"></i> Contact Us</a>
        </li>
    </ul>
</div>
