<div class="side-navbar h-100">
    <ul class="top">
        <li>
            <a href="#"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-calendar"></i> Schedule</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-calendar-o"></i> Availability</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-users"></i> Players</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-sitemap"></i> Block Members</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog"></i> Seasons</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-cog"></i> Administrator</a>
        </li>
    </ul>

    <ul class="bottom">
        <li>
            <a href="#"><i class="fa fa-info-circle"></i> About Us</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-envelope-o"></i> Contact Us</a>
        </li>
    </ul>
</div>
