{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "accounts.less" %}
    {% else %}
        {% add_data "css-data" "accounts.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
{% endblock %}

{% block title %}
TennisBlock
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Login</h2>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            <form action="{% url 'django.contrib.auth.views.login' %}" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>

                <input type="submit" value="login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>

        </div>
    </div>


{% endblock %}
