{% extends "common/site_base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/accounts.less' %}">
{% endblock %}

{% block body %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Login Successful</h2>

            <p>
                Welcome{{ name }}, to the TennisBlock site!!
            </p>
        </div>
    </div>


{% endblock %}
