{% extends "common/site_base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/accounts.less' %}">
{% endblock %}

{% block title %}
    logout
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Logged out</h2>

            <p>
                Thank you for using the TennisBlock site!!
                Come back again soon.
            </p>
            <a href="{% url 'login' %}">Log in again</a>
        </div>
    </div>


{% endblock %}
