{% extends "common/site_base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/accounts.less' %}">
{% endblock %}

{% block body %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Account Profile</h2>
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                <span>Username: {{ username }}</span>
                <span>First Name</span>
                <input type="text" name="firstname" value="{{ firstname }}"/>
                <span>Last Name</span>
                <input type="text" name="lastname" value="{{ lastname }}"/>

                <span>Email</span>
                <input type="text" name="email" value="{{ email }}"/>

                <span>Phone Number</span>
                <input type="text" name="phone" value="{{ phone }}"/>

                <span>NTRP</span>
                <input type="text" name="ntrp" value="{{ ntrp }}"/>

                <button type="submit">Update Profile</button>
            </form>

        </div>
    </div>


{% endblock %}
