*.komodo*
*.kpf
*.iml

.idea
~$2012_Fall.xlsx
libraries/angular-1.2.0-rc.2/docs
*.pyc
tennisblock/webapp/static/css/about.css
tennisblock/webapp/static/css/accounts.css
tennisblock/webapp/static/css/availability.css
tennisblock/webapp/static/css/banner.css
tennisblock/webapp/static/css/basecontacts.css
tennisblock/webapp/static/css/footer.css
tennisblock/webapp/static/css/home.css
tennisblock/webapp/static/css/layout.css
tennisblock/webapp/static/css/members.css
tennisblock/webapp/static/css/playsheet.css
tennisblock/webapp/static/css/schedule.css
tennisblock/webapp/static/css/tbdefs.css
tennisblock/webapp/static/css/tennisblock_min.css
env.txt
local_config.py
freeze.txt
tennisblock/webapp/static/COMPILED
*.gz
build/bash-fix
paramiko.log
*.mcw
dbbackup
SlickNav-master.zip
db_learning.txt
/docs/_build
/tennisblock/.env.local
/collectedstatic
/tennisblock/default.env
/.venv3
/gulp_build/node_modules
/tennisblock/webapp/static/assets
*~
/.env
/database/navicat_debug
/database/backups
/tennisblock/webapp/static/css/style_base.css
/tennisblock/webapp/static/css/style_base.css.map
/build_assets/node_modules
/tennisblock/tennisblock.crt
/tennisblock/tennisblock.key
/tennisblock/frontend/static/css/webapp/static/scss/style_base.css.map
/tennisblock/frontend/static/css/webapp/static/scss/style_base.css
/tennisblock/frontend/static/css
/tennisblock/frontend/static/js
/tennisblock/frontend/webpack-stats.json
*.map
/DropboxTeam
