Django==1.7
Jinja2==2.7.3
MarkupSafe==0.23
MySQL-python==1.2.5
Pygments==1.6
South==1.0
Sphinx==1.2.3
Unipath==1.0
argparse==1.2.1
cssmin==0.2.0
django-appconf==0.6
django-bootstrap-form==3.1
django-classy-tags==0.5.1
django-compressor==1.4
django-cors-headers==0.13
django-debug-toolbar==1.2.1
django-sekizai==0.7
django-user-accounts==1.0c9
djangorestframework==2.4.2
docutils==0.12
fpdf==1.7
path.py==5.2
pinax-theme-bootstrap==5.5.1
pinax-theme-bootstrap-account==1.0b2
python-dateutil==2.2
pytz==2014.7
raven==5.0.0
six==1.7.3
sqlparse==0.1.11
uWSGI==2.0.7
