/**
 * basestyle.css
 *
 * Author: Marc Wandschneider, 2005-03-03
 *
 * This file will contain the base styles for our appointment
 * calendar web application.  We are keeping them reasonably
 * simple so as not to complicate the example terribly.
 */


/**
 * These are the default styles that will go on the background.
 */
body { background-color: #eeeee0 }

/**
 * Top menu bar font and link style.
 */
.topMenuBar { background-color: #ffffcc; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: black }
.topMenuLink { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000099; text-decoration: none }

/**
 * The core font for the page text.
 */
.pageBody { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000077 }


/**
 * For creating/showing appointments.
 */
.apptFormTable { font-family: Arial, Helvetica, sans-serif; font-size: 12px: color: #000077 }
.apptTable { font-family: Arial, Helvetica, sans-serif; font-size: 12px: color: #000077 }
.apptDispLink { font-family: Arial, Helvetica, sans-serif; font-size: 12px: color: #0000aa; }
.apptDispHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #000066; }
.apptWeekHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #000066; background-color: #ddddd0 }
.apptMonthHeader { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 700; color: #000066; background-color: #ddddd0 }
.dateWithAppts { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 900; color: #000066; background-color: #cccccc }
.nextPrevLink { font-family: Arial, Helvetica, sans-serif; font-size: 12px: color: #0000aa; text-decoration: none }


.normalTable {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000077 }
.tableLabel {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000077 }
.tableLabelSmall {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000077 }
.tableLabelTiny {font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #000077 }
.errSmall  {font-family: Arial, Helvetica, sans-serif; font-size: 12; color: #dd0000 }





/**
 * This is where we will override some of the basic styles that
 * we are given by the browser.
 */
h1 {font-family: Arial, Helvetica, sans-serif; color: #000088 }
h2 {font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #000088 }

