.color {
    &-switcher {
        &-options {
            height: 50px;
            box-shadow: 0 0 30px 0 rgba(0, 159, 189, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.33);
            z-index: 2;

        }
    }
    &-options {
        color: #333;
        &.active {
            box-shadow: 0 0 30px 0 rgba(0, 159, 189, 0.05), 0 0 20px 0 rgba(0, 0, 0, 0.33);
        }
        a {
            color: #333;
        }
    }
}
