.target {
    width: 100%;
    height-min: 80px;
    background-color: lightcyan;
}

.guys {
    border: 1px solid blue;
    padding: 4px;
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: -1;
}

.girls {
    border: 1px solid pink;
    padding: 4px;
    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: -1;
}

.droparea:-moz-drag-over {
    outline: 1px solid black;
}

.couple {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;

    .guy {
        border: 1px solid lightblue;
        width: 80%;
        height: 30px;
    }
    .girl {
        border: 1px solid lightcoral;
        width: 80%;
        height: 30px
    }
}

.couples {
    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: -1;
}