{% extends "common/site_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div id="textContent">
        <div id="blockheading" class="dynamic">
            <h2>About Us</h2>

            <p>
                Tennisblock.com is the one and only online tennis block manager.
                Our site provides a number of useful and convenient features that every
                tennisblock needs, but most have to figure out on their own.

                Subs
                Play Sheet
                Notify your members.

            </p>
        </div>
    </div>

{% endblock %}
