{% extends "site_base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block body_class %}guest{% endblock %}

{% block body_container %}
    <section class="body_base">
        {% include "_messages.html" %}
        {% block body %}
            <div id="home"></div>
        {% endblock body %}
    </section>
{% endblock %}

{% block render_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        <!-- Render bundles for home page -->
        {% render_bundle 'Home' 'js' %}
    {% endif %}
{% endblock %}

{% block initialize_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        <!-- Initialize bundles -->
        <script type="text/javascript">
            Home('home')
        </script>
    {% endif %}
{% endblock %}
