{% extends "common/base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/schedule.less' %}">
{% endblock %}

{% block angular_script %}
    {{ block.super }}

    <script src="{% static 'js/angular/controllers/Home.js' %}" type="text/javascript"></script>

{% endblock %}

{% block title %}
add
{% endblock %}

{% block body %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">

            {% verbatim %}
            <div id="textContent">
                <div id="blockheading" class="dynamic">
                    <h2>About Us</h2>
                </div>
            </div>
            {% endverbatim %}

        </div>
    </div>


{% endblock %}
