{% extends "common/angular_base.html" %}
{% load static %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

{% endblock %}

{% block body_script %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
{% endblock %}

{% block style_base %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}


{% block page_content %}
    
    <div id="content" class="dynamic">
        <h3>Block Members</h3>
        <table id="player_table" class="display table
                table-responsive table-fixed
                table-striped table-bordered table-hover" style="width:100%;">
            <thead class="thead-dark sticky-top">
            <tr>
                <th class="col-2">Name</th>
                <th class="">Gender</th>
                <th class="">NTRP</th>
                <th class="">uNTRP</th>
                <th class="">Email</th>
                <th class="">Phone</th>
                <th class="">Block Member?</th>
                <th class="">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for sp in players %}
                {% with sp.player as player %}
                    <tr>
                        <td class="">{{ player.full_name }}</td>
                        <td class="">{{ player.gender }}</td>
                        <td class="">{{ player.ntrp }}</td>
                        <td class="">{{ player.untrp }}</td>
                        <td class="">{{ player.email }}</td>
                        <td class="">{{ player.phone }}</td>
                        <td class="">
                            <input
                                    type="checkbox"
                                    name="bp"
                                    value="{{ sp.id }}"
                                    {% if sp.blockmember %}
                                    checked
                                    {% endif %}
                            >
                        </td>
                        {% if not sp.blockmember %}
                            <td class="">
                                <button class="delete-member btn btn-danger"
                                        data-id="{{ sp.id }}">
                                    Delete
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock page_content %}

{% block tennisblock_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/members.js' %}"></script>
{% endblock %}

