{% extends "common/site_base.html" %}
{% load staticfiles %}
{% load compress %}
{% load i18n %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->
    {% compress css %}
    <link rel="stylesheet/less" type="text/less" href="{% static 'less/members.less' %}">
    {% endcompress %}

{% endblock %}

{% block body %}
    <div id="content" class="dynamic">
        <h3>Delete player {{player.first}} {{player.last}}?</h3>
        <form method="post">
            {% csrf_token %}
            <button ><a href="{% url 'player_list' %}">Cancel</a></button>
            <button type="submit">Delete Player</button>
        </form>
    </div>

{% endblock %}
