{% extends "common/site_base.html" %}
{% load static %}
{% load i18n %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

{% endblock %}

{% block page_content %}
    <div id="content" class="dynamic">

        <table class="pure-table">
            <thead>
                <tr>
                    <th>First</th>
                    <th>Last</th>
                    <th>Gender</th>
                    <th>NTRP</th>
                    <th>uNTRP</th>
                    <th>email</th>
                    <th>phone</th>
                    <th>Blockmember</th>
                    <th>SeasonPlayer</th>
                </tr>
            </thead>
                <tr>
                    <th>{{player.first}}</th>
                    <th>{{player.last}}</th>
                    <th>{{player.gender}}</th>
                    <th>{{player.ntrp}}</th>
                    <th>{{player.microntrp}}</th>
                    <th>{{player.email}}</th>
                    <th>{{player.phone}}</th>
                    <th>BlockMember</th>
                    <th>SeasonPlayer</th>
                </tr>
        </table>

    </div>

{% endblock %}
