.Home {
  .LoginContainer {
    @media (min-width: 768px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: 992px) {
      padding-left: 190px;
      padding-right: 190px;
    }

    @media (min-width: 1200px) {
      padding-left: 250px;
      padding-right: 250px;
    }

    .Logo {
      width: 100%;
    }

    p {
      color: #fff;
    }
  }
}