
$odd_row: #fff;
$even_row: #E7F2FF;

#textContent {
    padding-left: 20px;
}

table.member_list {
    width: 100%;

    tr,th,td {
        border: 1px solid #4A90E2;
    }

    thead {
        background: #6EB1FF;
    }

    tbody {
        tr {
            &.odd {
                background-color: $odd_row;

                &.single {
                    background-color: adjust-hue(saturate($odd_row, 30%), 50);
                }
            }
            &.even {
                background-color: $even_row;
                &.single {
                    background-color: adjust-hue(saturate($even_row, 30%), 50);
                }
            }

            &.single {
                backgrond-color: darkgrey;
            }

            &.member_list_header {
                background-color: #449aff;
            }
        }
    }

    tdxx {
        .odd {
            background-color: #d3d3d3;
        }
        .even {
            background-color: gray;
        }
    }

    td.cplayed {
        background-color: #8bffb3;
    }
}

.holdout {
    background-color: indianred;
}


