.top-navbar {
    background: rgba(21, 61, 56, 1);
    .navbar-brand {
        padding-top: 1.3125rem;
        padding-bottom: 1.3125rem;
        margin-right: 3rem;
        img {
            width: 170px;
        }
    }

    .navbar-nav {
        > .nav-item > a {
            line-height: 60px;
            i.fa {
                vertical-align: middle;
            }
        }
    }

    .avatar-dropdown {
        .dropdown-menu {
            left: auto !important;
            right: 0;
        }
    }
}

.side-navbar {
    background: #171717;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &.bottom {
            position: absolute;
            bottom: 15px;
            width: 100%
        }

        li {
            padding: 0 15px;
            border-left-width: 5px;
            border-left-color: transparent;
            border-left-style: solid;

            &:hover,
            &.active {
                border-left-color: #F03E41;
                background: #25282B;
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }

            a {
                display: block;
                line-height: 55px;
                color: #777;

                i {
                    vertical-align: middle;
                    font-size: 25px;
                    width: 30px;
                    text-align: center;
                    margin-right: 15px;
                }
            }
        }
    }
}