/* ==========================================================================


/* *********** */
/* LESS Styles */


@import '_availability';
//@import 'common/layout_header';
//@import 'common/layout_page_header';
//@import 'nav';
//@import 'footer';

.availability {
    .gridrow {
        display: grid;
        grid-template-columns: 3fr 16fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .items {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        min-height: 40px;
    }

    tr td {
        &.scheduled {
            background-color: #12ff88;
        }

        &.played {
            background-color: #ffa28b;
        }

        &.scheduled.played {
            //background-color: lightcoral;
        }
    }

    .item {
        min-width: 60px;
        border: 1px solid lightgray;

    }
    .heading {

    }
    .heading_item {
        border: 1px solid lightblue;
    }

    .name_col {

    }
    .played_col {

    }
    .scheduled_col {

    }
    .avrow .items::-webkit-scrollbar {
        display: none;
    }
}

