.TeamStats {

  rect {
    &.outer {
      fill: none;
      stroke: #0b2e13;
    }

    &.gauge {
      fill: #78fbff;
      shape-rendering: crispEdges;
    }
  }

  text {
    fill: #78fbff;
    font: 12px sans-serif;
  }
}

.OuterRect {
  fill: none;
  stroke: #0b2e13;
}

.GaugeRect {
  fill: #78fbff;
  shape-rendering: crispEdges;
}
