{% extends "common/angular_base.html" %}
{% load compress %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block less_script %}
    {{ block.super }}
    <!-- about.html: page_style -->
    {% if USE_LESS %}
        <!-- using less -->
        <link rel="stylesheet/less" type='text/css' href="{% static 'less/schedule.less' %}">
    {% else %}
        <!-- not using less -->
        {% compress css %}
            <link rel="stylesheet" type='text/less' href="{% static 'less/schedule.less' %}">
        {% endcompress %}
    {% endif %}
{% endblock %}

{% block angular_script %}
    {{ block.super }}

    {% compress js %}
    <script src="{% static 'js/angular/controllers/blockschedule.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-nav.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-matches.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/block-players-table.js' %}" type="text/javascript"></script>
    {% endcompress %}

{% endblock %}

{% block title %}
    schedule
{% endblock %}

{% block body %}
    <div id="" class="">
        <div id="" class="" ng-controller="BlockSchedule">

            {%  if perms.blockdb.schedule.change_sched %}
                <h1>Granted change schedule permissions.</h1>
            {% endif %}

            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <h2>Meeting Selectors</h2>
                <ul class="meeting_selectors">
                    {% for meeting in meetings %}
                        <li><button class="pure-button">{{ meeting.date }}</button></li>
                    {% endfor %}
                </ul>
            </div>

            {% verbatim %}
            <div id="textContent" >
                <div id="blockheading" class="dynamic">
                    <h2>Latest Block Schedule for {{ block.currdate }}</h2>
                    <div id=schedule>
                        <div schedule-nav block="block"></div>
                        <div id="players" block-players-table
                             query-date="block.queryDate">
                        </div>
                        <div schedule-matches query-date="block.queryDate"></div>
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <div id="dialog_confirm"></div>

        </div>
    </div>


{% endblock %}
