{% extends "common/angular_base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block title %}
    schedule
{% endblock %}

{% block page_content %}

    <div id="react-schedule"></div>

    <div class="row">
        <div class="col" id="schedule"></div>
    </div>

    <div class="row">
        <div class="col" id="match_review"></div>
    </div>


    <div class="row">
        <div id="dialog_confirm"></div>
    </div>

{% endblock page_content %}

{% block render_css_bundles %}
    {% render_bundle 'style_base' 'css' 'ASSETS' %}
    {% render_bundle 'schedule' 'css' 'ASSETS' %}
{% endblock %}

{% block render_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        <!-- Render bundles here -->
        {% render_bundle 'vendor' 'js' %}
        {% render_bundle 'Schedule' 'js' %}
    {% endif %}
{% endblock %}

{% block initialize_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        {% include "bundles/common_options.html" %}
        <!-- Initialize bundles -->
        <script type="text/javascript">
          console.log('Initialize component')
          Schedule(
            Object.assign(
              tennisblock_page_elements,
              {schedule_el: 'react-schedule'}
            ),
            Object.assign(
              tennisblock_page_options,
              {
                schedule_opts: {
                  api: {
                    blockdates: '{% url "api:blockdates" %}',
                    matchdata: '{% url "api:matchdata_for_date" "0000-00-00" %}',
                    blockplayers: '{% url "api:blockplayers_for_date" "0000-00-00" %}',
                    subs: '{% url "api:subs_for_date" "0000-00-00" %}',
                    blockschedule: '{% url "api:blockschedule_for_date" "0000-00-00" %}',
                    notify: '{%  url "api:notify" "0000-00-00" %}',
                    verifystatus: '{% url "api:scheduleverify_for_date" "0000-00-00" %}',
                  }
                }
              }
            )
          )

        </script>
    {% endif %}
{% endblock %}
