{% extends "common/angular_base.html" %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

{% block angular_script %}
    {{ block.super }}

    <script src="{% static 'js/angular/controllers/blockschedule.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-nav.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-matches.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/block-players-table.js' %}" type="text/javascript"></script>

{% endblock %}

{% block page_style %}
{{ block.super }}
    <link  rel="stylesheet" href="{% static 'css/schedule.css' %}" />
{% endblock page_style %}

{% block title %}
    schedule
{% endblock %}

{% block page_content %}

    <div id="react-schedule"></div>
    <div class="row">
        <div class="col" ng-controller="BlockSchedule">

            {% if perms.blockdb.schedule.change_sched %}
                <h1>Granted change schedule permissions.</h1>
            {% endif %}

            {% verbatim %}
            <div schedule-matches query-date="block.queryDate"></div>
            {% endverbatim %}


        </div>
    </div>

    <div class="row">
        <div class="col" id="schedule"></div>
    </div>

    <div class="row">
        <div class="col" id="match_review"></div>
    </div>


    <div class="row">
        <div id="dialog_confirm"></div>
    </div>


{% endblock page_content %}


{% block render_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        <!-- Render bundles here -->
        {% render_bundle 'Schedule' 'js' %}
    {% endif %}
{% endblock %}

{% block initialize_bundles %}
    {{ block.super }}
    {% if render_bundles %}
        <!-- Initialize bundles -->
        <script type="text/javascript">
          console.log('Initialize component')
          Schedule({ target: 'react-schedule'});

        </script>
    {% endif %}
{% endblock %}
