<span block-member-item field="first" mvar="member.first"></span>
<span block-member-item field="last" mvar="member.last"></span>
<span block-member-item field="gender" mvar="member.gender"></span>
<span block-member-item field="ntrp" mvar="member.ntrp"></span>
<span block-member-item field="microntrp" mvar="member.microntrp"></span>
<span block-member-item field="email" mvar="member.email"></span>
<span block-member-item field="phone" mvar="member.phone"></span>

<button ng-show="!member.new && memberChanged(member)">Update</button>
<button ng-show="member.new">Insert</button>
<button ng-show="member.new">Delete</button>
