<h3>Scheduled Players</h3>
<h4>QueryDate: {{ queryDate }}</h4>
<button ng-click="schedulePlayersConfirm()">Schedule</button>
<button ng-show="hasChanged()" ng-click="updateSchedule()">Update Schedule</button>
<table id="table_players">
    <thead>
    <th>Guys</th>
    <th>Gals</th>
    </thead>
    <tr ng-repeat="couple in players.couples">
        <td>
            <select ng-model="couple.guy"
                    ng-change="onGuyChanged($index)"
                    ng-options="p.name for p in getGuySubs($index,couple.guy)">
            </select>
        </td>
        <td>
            <select ng-model="couple.gal"
                    ng-change="onGalChanged($index)"
                    ng-options="p.name for p in getGalSubs($index,couple.gal)">
            </select>
        </td>
    </tr>
</table>
<h3>Total couples is {{ players.couples.length }}</h3>
