<div id="matches">
    <h3>Play Schedule</h3>
    <button ng-click="pickTeams()">Pick Teams</button>
    <a target="_blank" href="/api/blocksheet/">Download Block Sheet</a>
    <table id="table_matches" ng-show="match.sets.length > 0">
        <tr>
            <th>Set</th>
            <!-- Dynamic number of courts -->
            <th ng-repeat-start="court in match.sets[0]">Court {{ $index+1 }}</th>
            <th ng-repeat-end>Ratings</th>
        </tr>
        <tr ng-repeat="set in match.sets">
            <td>Match {{ $index+1 }}</td>
            <td ng-repeat-start="court in set">
                <div class="courtTeam">
                    {{ court.team1.m.name }} and {{ court.team1.f.name }}
                </div>
                <span>Versus</span>
                <div class="courtTeam">
                    {{ court.team2.m.name }} and {{ court.team2.f.name }}
                </div>
            </td>
            <td ng-repeat-end>
                <div class="total_untrp">
                    {{ court.team1.m.untrp + court.team1.f.untrp|number:2 }}
                    /
                    {{ court.team2.m.untrp + court.team2.f.untrp|number:2 }}
                </div>
                <div class="untrp_diff">
                    Diff: {{ (court.team1.m.untrp + court.team1.f.untrp)-(court.team2.m.untrp + court.team2.f.untrp)|number:2 }}
                </div>
            </td>
        </tr>
    </table>
</div>
