{% extends "common/site_base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/schedule.less' %}">
{% endblock %}

{% block angular_script %}
    {{ block.super }}

    <script src="{% static 'js/angular/controllers/Home.js' %}" type="text/javascript"></script>

{% endblock %}

{% block title %}
    players
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">

            <div id="player">
                <input type="text">{{ first }}</input>
                <input type="text">{{ last }}</input>
            </div>

        </div>
    </div>


{% endblock %}
