{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "schedule.less" %}
    {% else %}
        {% add_data "css-data" "schedule.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
    {% add_data "js-body" "angular/controllers/Home.js" %}
{% endblock %}

{% block title %}
Garden Buzz
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">

            <div id="textContent">
                <div id="blockheading" class="dynamic">
                    <h2>Block Members</h2>
                </div>
            </div>

            <div id="blockheading">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>NTRP</th>
                        <th>Gender</th>
                        <th>uNTRP</th>
                    </tr>
                    {% for player in players %}
                    <tr>
                        <td>{{ player.first }} {{ player.last }}</td>
                        <td>{{ player.ntrp }}</td>
                        <td>{{ player.gender }}</td>
                        <td>{{ player.microntrp }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <form action="/members" method="GET">
                <input type="text" name="q" />
                <button type="submit">search</button>
            </form>
            {% verbatim %}
            <div id="textContent">
                <div id="blockheading" class="dynamic">
                    <h2>Block Members</h2>
                </div>
            </div>
            {% endverbatim %}

        </div>
    </div>


{% endblock %}
