{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "members.less" %}
    {% else %}
        {% add_data "css-data" "members.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
    {% add_data "js-body" "angular/controllers/members.js" %}
    {% add_data "js-body" "angular/directives/members-list.js" %}
    {% add_data "js-body" "angular/directives/block-members.js" %}
    {% add_data "js-body" "angular/directives/block-member.js" %}
{% endblock %}

{% block title %}
    members
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">

            {% verbatim %}
            <block-members id="members" >
            </block-members>
            {% endverbatim %}

        </div>
    </div>


{% endblock %}
