{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {% if not isprod %}
        {% add_data "less-data" "schedule.less" %}
    {% else %}
        {% add_data "css-data" "schedule.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
    {% add_data "js-body" "angular/controllers/blockschedule.js" %}
{% endblock %}

{% block title %}
Garden Buzz
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic" ng-controller="BlockSchedule">

            {% verbatim %}
            <div id="textContent" >
                <div id="blockheading" class="dynamic">
                    <h2>Block Schedule for {{ currdate }}</h2>
                    <button ng-click="pickTeams">Pick Teams</button>
                    <button ng-click="schedulePlayer">Schedule</button>
                    <button ng-click="playSheet">Build Play Sheet</button>
                    <button ng-click="updateSchedule">Update Schedule</button>
                    <div id=schedule>
                        <div class="navigation">
                            <a ng-hide='true' class="previous"
                               ng-click="previous()">
                                &lt; previous
                            </a>
                            <button ng-repeat="date in dates"
                                    ng-click="gotodate(date.date)">
                                {{ date.date }}
                            </button>
                            <a class="next"
                               ng-hide="1"
                               ng-click="next()">
                                next &gt;
                            </a>
                        </div>
                        <div class="scheduleview">
                            <h3>Players</h3>
                            <ul>
                                <li ng-repeat="guy in guys">
                                    {{ guy.name }}
                                </li>
                            </ul>
                            <ul>
                                <li ng-repeat="gal in gals">
                                    {{ gal.name }}
                                </li>
                            </ul>
                            <h3>Subs</h3>
                            <ul>
                                <li ng-repeat="sub in subs">
                                    {{ sub.name}}
                                </li>
                            </ul>
                            <h3>Play Schedule</h3>
                            <ul>
                                <li ng-repeat="set in sets">
                                    {{ set.name }}
                                    <ul>
                                        <li ng-repeat="court in set.courts">
                                            <div class="courtAssignment">
                                                <h4>{{ court.number }}</h4>
                                                <div class="courtTeam">
                                                    {{ court.ta.guy.name }} and {{ court.ta.gal.name }}
                                                </div>
                                                <span>Versus</span>
                                                <div class="courtTeam">
                                                    {{ court.tb.guy.name }} and {{ court.tb.gal.name }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim %}

        </div>
    </div>


{% endblock %}
