{% extends "common/base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/accounts.less' %}">
{% endblock %}

{% block title %}
TennisBlock
{% endblock %}
{% block body %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Registration/Login</h2>
            {% if next %}
                <span>Next: {{ next }}</span>
            {% endif %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <span>Username:</span>
                <input type="text" name="username"/>
                <span>Password:</span>
                <input type="password" name="password"/>
                <button type="submit">Submit</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>

        </div>
    </div>


{% endblock %}
