.container {
    display: grid;
    border: 1px solid lightgrey;
    grid-template-columns: 30% auto 30%;
    grid-template-rows: 100px auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-items: stretch;

    grid-template-areas:
        "guys       droparea    girls"
        "guys       .           girls"
        "couples    couples     couples"
    ;

    height-min: 400px;
    margin: 5px 15px;
}

.guys {
    border: 1px solid blue;
    padding: 4px;
    grid-area: guys;
}

.girls {
    border: 1px solid pink;
    padding: 4px;
    grid-area: girls;
}

.couple {
    grid-area: droparea;

    .guy {
        border: 1px solid lightblue;
        width: 80%;
        height: 30px;
    }
    .girl {
        border: 1px solid lightcoral;
        width: 80%;
        height: 30px
    }
}

.couples {
    grid-area: couples;
}