{% extends "site_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block angular_script %}
{% endblock %}

{% block body %}
    <div>
        <form action="{% url 'season:season_detail' pk=season.pk %}" %}method="post">
            {% csrf_token %}
            {% crispy season_form season_form.helper %}
            <input class="btn btn-primary"
                   type="submit"
                   name="update_season" value="Update Season"/>
        </form>

        <form action="{% url 'season:season_detail' pk=season.pk %}" method="post">
            {% csrf_token %}
            {% for mtg in meetings %}
                <div class="pure-control-group">
                    <label for="mtg_{{ forloop.counter0 }}">{{ mtg.date }}</label>
                    <input id="mtg_{{ forloop.counter0 }}" name="meetings" type="checkbox"
                           value="{{ forloop.counter0 }}"
                            {% if mtg.holdout %}
                           checked
                            {% endif %}
                    >
                </div>
            {% endfor %}
            <input class="btn btn-primary"
                   type="submit"
                   name="update_holdouts" value="Update Holdouts"/>
        </form>

        <form action="{% url 'season:season_detail' pk=season.pk %}" method="post">
            {% csrf_token %}
            <ul>
                {% for player in players %}
                    <li>
                        <span>{{ player.name }}</span>
                        <span>{{ player.ntrp }}</span>
                        <label for="mtg_{{ forloop.counter0 }}">{{ mtg.date }}</label>
                        <input id="mtg_{{ forloop.counter0 }}" name="members" type="checkbox"
                               value="{{ forloop.counter0 }}"
                                {% if player.season_player %}
                               checked="checked"
                                {% endif %}
                        >
                    </li>
                {% endfor %}
            </ul>
            <input class="btn btn-primary"
                   type="submit"
                   name="season_players" value="Update Players"/>
        </form>
    </div>
{% endblock %}
