{% extends "site_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block angular_script %}
{% endblock %}

{% block page_content %}
    <div>
        <form
                action="{% url 'season:season_detail' pk=season.pk %}" %}
                method="post">
            {% csrf_token %}
            {% crispy season_form season_form.helper %}
        </form>

        <form action="{% url 'season:season_detail' pk=season.pk %}" method="post">
            {% csrf_token %}
            {% for mtg in meetings %}
                <div class="pure-control-group">
                    <label for="mtg_{{ forloop.counter0 }}">{{ mtg.date }}</label>
                    <input id="mtg_{{ forloop.counter0 }}" name="meetings" type="checkbox"
                           value="{{ forloop.counter0 }}"
                            {% if mtg.holdout %}
                           checked
                            {% endif %}
                    >
                </div>
            {% endfor %}
            <input class="btn btn-primary"
                   type="submit"
                   name="update_holdouts" value="Update Holdouts"/>
        </form>

        <div class="row">
            <div class="col">

                <form
                        action="{% url 'season:season_detail' pk=season.pk %}"
                        method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            Total of {{ active.count }} Players
                            <ul>
                                {% for player in active %}
                                    <li>
                                        <span>{{ player.name }}</span>
                                        <span>{{ player.ntrp }}</span>
                                        <label for="mtg_{{ forloop.counter0 }}">
                                            {{ mtg.date }}
                                        </label>
                                        <input id="mtg_{{ forloop.counter0 }}"
                                               name="members"
                                               type="checkbox"
                                               value="{{ player.pk }}"
                                                {% if player.active %}
                                               checked="checked"
                                                {% endif %}
                                        >
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                {% for player in inactive %}
                                    <li>
                                        <span>{{ player.name }}</span>
                                        <span>{{ player.ntrp }}</span>
                                        <label for="mtg_{{ forloop.counter0 }}">
                                            {{ mtg.date }}
                                        </label>
                                        <input id="mtg_{{ forloop.counter0 }}"
                                               name="members"
                                               type="checkbox"
                                               value="{{ player.pk }}"
                                                {% if player.active %}
                                               checked="checked"
                                                {% endif %}
                                        >
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <input class="btn btn-primary"
                               type="submit"
                               name="season_players" value="Update Players"/>

                    </div>


                </form>

            </div>


        </div>


    </div>
{% endblock %}

{% block body_script %}
    {{ block.super }}
    {{ form.media }}
{% endblock body_script %}