{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "schedule.less" %}
    {% else %}
        {% add_data "css-data" "schedule.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
    {% add_data "js-body" "angular/controllers/Home.js" %}
{% endblock %}

{% block title %}
    login
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic">
            <h2>Login Successful</h2>

            <p>
                Welcome{{ name }}, to the TennisBlock site!!
            </p>
        </div>
    </div>


{% endblock %}
