<h3>Scheduled Players</h3>
<h4>QueryDate: {{ queryDate }}</h4>
<button ng-show="hasChanged()" ng-click="updateSchedule()">Update Schedule</button>
<button ng-click="schedulePlayersConfirm()">Schedule</button>
<table id="table_players">
    <thead>
    <th>Guys</th>
    <th>Gals</th>
    </thead>
    <tr ng-repeat="couple in players.couples">
        <td>
            <select ng-model="couple[0]"
                    ng-change="onPlayerChanged($index,0)"
                    ng-options="p.name for p in getGuySubs(couple[0])">
            </select>
        </td>
        <td>
            <select ng-model="couple[1]"
                    ng-change="onPlayerChanged($index,1)"
                    ng-options="p.name for p in getGalSubs(couple[1])">
            </select>
        </td>
    </tr>
</table>
<h3>Total couples is {{ players.couples.length }}</h3>
