
/* --- Properties Dialog style --- */

#properties { display: none; padding: 5px; }
#properties table { width: 100%; font-size: .8em; }
#properties th { text-align: left; padding: 5px 0 7px; }
#properties .attribute { width: 90px; }
#properties .value input { width: 95%; border-color: #ff2132; border-width:0px;}
#properties .visible { text-align: center; width: 50px; }
#properties .validation { text-align: center; color: #ff2132; width: 200px;}
#properties .readonly { background-color: rgba(0, 0, 0, 0.23); }
#properties textarea { width: 99%; height: 50px; }
.invalid {
    border-width:3px;
    border-color: #ff2132;
    background-color: #f0ef82;
}
.errtext {
    color: #ff2132;
    font-style: italic;
}

#ctrlsrc_dlg_main { display: none; padding: 5px; }
#ctrlsrc_dlg_main table { width: 100%; font-size: .8em; }
#ctrlsrc_dlg_main th { text-align: left; padding: 5px 0 7px; }
#ctrlsrc_dlg_main .attribute { width: 90px; }
#ctrlsrc_dlg_main .value input { width: 95%; }
#ctrlsrc_dlg_main .visible { text-align: center; width: 50px; }
#ctrlsrc_dlg_main .validation { text-align: center; color: #990e13; width: 50px; }
#ctrlsrc_dlg_main textarea { width: 99%; height: 50px; }

/* Spice Run Dialog */
#spice_run_dialog p { margin-bottom:20px; font-size:14px; line-height:21px; }
#spice_run_dialog h3 { margin-bottom:10px; font-size:18px; font-weight:bold; }
#spice_run_dialog h4 { margin-bottom:5px; font-size:14px; font-weight:bold; }
#spice_run_dialog input { margin-bottom:5px; margin-left: 3px; margin-right:3px; }
#spice_run_dialog span { text-transform:capitalize; margin-bottom:5px; margin-left: 3px; margin-right:3px; margin-top:3px; font-size:14px;  }
#spice_run_dialog .firstopt { margin-top:5px; }
#spice_run_dialog .fieldset { border:1px solid #b3b3b3; margin: 5px; padding: 2px; background: #eee; padding-top:8px; margin-top: 12px; position: relative; }
#spice_run_dialog .legend { left: 10px; top: -10px; position: absolute; background: #eee; font-weight: bold;padding: 0 0.25em 0 0.25em; }

