@charset "UTF-8";


#projectBar { display:none; }
#sitenav { display:none;}

/* From Example */
body {
    background-image: url(../images/bg_page.png);
    background-repeat: repeat-x;
}

#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden; /* contain float */
    background-color: white;
    background-image: url(../images/bg_main_gb.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner {
    margin-top: 48px;
}

#main {
    float: right;
    width: 565px;
    margin-right: 15px;
    padding-top: 25px;
}

* html #main {
    display: inline; /* ie 6 double margin bug */
}

#announcement {
    margin-right: 600px;
    margin-left: 20px;
    background: url(../images/scroll_middle.jpg) repeat-y center top;
    margin-top: 115px;
    zoom: 1;
}

#copyright {
    clear: both;
    font: bold 12px Tahoma, Geneva, sans-serif;
    color: #65747E;
    padding: 5px;
    margin: 0 15px;
    border: 1px dotted #98AFBE;
    border-left: none;
    border-right: none;
}

#banner h1 {
    font: normal 48px Georgia, "Times New Roman", Times, serif;
    text-align: right;
    color: #272D32;
    margin-right:20px;
}

#banner h2 {
    font: normal 16px Georgia, "Times New Roman", Times, serif;
    text-align: right;
    color: #272D32;
    margin-top:-36px;
    margin-right:20px;
}

#main h2 {
    font: 24px Tahoma, Geneva, sans-serif;
    margin-bottom: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    background-image: url(../images/underline.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 7px;
}

#main p {
    font: 14px Tahoma, Geneva, sans-serif;
    color: #323A3F;
    margin-bottom: 20px;
    font-family: Tahoma, Geneva, sans-serif;
}

#announcement h2 {
    font: italic bold normal 20px Georgia, "Times New Roman", Times, serif;
    text-align: center;
    color: #323A3F;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 18px;
    background: url(../images/scroll_top.jpg) no-repeat center top;
    padding-top: 70px;
}

#announcement ul {
    font: 14px Tahoma, Geneva, sans-serif;
}

#announcement li {
    list-style: none;
    background-image: url(../images/bullet.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-right: 40px;
}

#announcement .last {
    background: url(../images/scroll_bottom.jpg) no-repeat center bottom;
    padding-bottom: 65px;
}


/* Project Bar */
#projectBar {
    border-bottom: 1px solid #777777;
    position: relative;
    height: 110px;
    z-index: 0;
    background-color: #b8f099;
    min-width: 700px;
    width: expression(document.body.clientWidth < 702? "700px": "auto" );
    z-index: 999;
}

/* Class that all float:right buttons share. */
.projectbar_button {
    float: right;
    color: #fff;
    line-height: 36px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
}

#veggie_button {
    float:left;
    color: #fff;
    position: relative;
    line-height: 36px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    cursor: pointer;
    /*
    background: #fff url(../img/gardenbuzz_logo_veggies.png) bottom left repeat-x;
    */
}

#help_button {
    border-left: 1px solid #ccc;
}

#help_button:hover, #login_name:hover {
    text-decoration: underline;
}

#project_button {
    position: relative;
    height: 50px;
    line-height: 20px;
    color: #4d4d4d;
    padding-left: 20px;
    padding-right: 25px;
    border: 1px solid #b3b3b3;
    background-color: #f9f9f9;
    margin-top: 7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#project_button:hover {
    background-color: #fff;
    color: #000;
}

#project_button span {
    font-weight: bold;
}

#project_button #arrow {
    position: absolute;
    width: 9px;
    height: 6px;
    right: 12px;
    top: 8px;
}

#logo_header {
    float: left;
    padding-top: 10px;
    padding-left: 18px;
}

#sitenav p { display: none;}
#sitenav li {
    display: inline;
}

#sitenav li a {
    border: 1px dashed #000;
    border-bottom: none;
    padding: 5px 15px 5px 15px;
    margin-right: 5px;
    background-color: #eaeaea;
    text-decoration: none;
    color: #333;
}

#sitenav {
    border-bottom: 1px solid #b3b3b3;
    position: relative;
    margin-left: 5px;
    height: 40px;
    z-index: 0;
    background-color: #f9f9f9;
    min-width: 700px;
    width: expression(document.body.clientWidth < 702? "700px": "auto" );
}

#sitenav ul {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 700px;
}

#sitenav li {
    float: left;
    margin-left: 0px;
    color: #333;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border: 1px solid #b3b3b3;
    border-left: none;
    line-height: 23px;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    height: 24px;
    text-align: center;
    font-size: 11px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #e6e6e6;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#sitenav li.tab_hot {
    background-color: #fff;
    z-index: 999;
    color: #242424;
    border-bottom: none;
    height: 25px;
}

#sitenav li.tab_first {
    display: inline;
    border-left: 1px solid #b3b3b3;
}

#sitenav li.tab_hover {
    background-color: #ccc
}
