{% extends "common/site_base.html" %}
{% load staticfiles %}
{% load compress %}

{% block angular_script %}
    {{ block.super }}

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/angular/controllers/blockplayers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/angular/controllers/latestbuzz.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block body_base %}
<section class="body_base">
    {% include "_messages.html" %}
    {% block body %}
        <h1>Welcome to the Tennis Roster.com site.</h1>
    {% endblock body %}
</section>
{% endblock body_base %}

