{% extends "common/site_base.html" %}
{% load staticfiles %}
{% load compress %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->
    {% compress css %}
    <link rel="stylesheet/less" type="text/less" href="{% static 'less/members.less' %}">
    {% endcompress %}

{% endblock %}

{% block angular_script %}
    {{ block.super }}

    {% compress js %}
    <script src="{% static 'js/angular/controllers/members-controller.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/members-list.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/block-members.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/block-member.js' %}" type="text/javascript"></script>
    {% endcompress %}

{% endblock %}

{% block body %}
    <div id="content" class="dynamic">

        {% verbatim %}
        <block-members id="members" >
        </block-members>
        {% endverbatim %}

    </div>

{% endblock %}
