{% extends "common/site_base.html" %}
{% load staticfiles %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->

    <link rel="stylesheet/less" type="text/less" href="{% static 'less/schedule.less' %}">
{% endblock %}

{% block title %}
contact
{% endblock %}
{% block body %}
<div class='container form_wrap'>
    <h1 class="header_bar">
        Send Schedule Notification
    </h1>
    {% if form.errors %}
    <div class="alert alert-error">Errors on Form</div>
    {% endif %}

    <h3>Schedule Players</h3>
    <ul>
        {% for couple in couples %}
        <li>{{ couple.0 }} and {{ couple.1 }} </li>
        {% endfor %}
    </ul>

    <h2>Schedule Recipients</h2>
    <ul>
        {% for recipient in recipients %}
        <li>{{ recipient }}</li>
        {% endfor %}
    </ul>
    <form enctype="application/x-www-form-urlencoded"
          class="form-horizontal"
          action="/schedule/notify/{{ date }}/"
          method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group">
            <label for="bootstrap-{{ field.name }}"
                   class="control-label optional">
                {{ field.label }}
            </label>
            <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors.as_text }}</span>
            </div>
        </div>
        {% endfor %}
        <div class="control-group">
            <div class="controls">
                <input type="submit"
                       name="bootstrap[send]"
                       value="Send"
                id="bootstrap-send"
                class="btn btn-success" />
            </div>
        </div>
    </form>
</div>

{% endblock %}
