{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "schedule.less" %}
    {% else %}
        {% add_data "css-data" "schedule.css" %}
    {% endif %}

    {% add_data "js-body" "angular/apps/tennisblock.js" %}
    {% add_data "js-body" "angular/controllers/blockschedule.js" %}
    {% add_data "js-body" "angular/directives/schedule-nav.js" %}
    {% add_data "js-body" "angular/directives/schedule-matches.js" %}
    {% add_data "js-body" "angular/directives/block-players.js" %}
    {% add_data "js-body" "angular/directives/block-players-table.js" %}
{% endblock %}

{% block title %}
    schedule
{% endblock %}
{% block content %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic" ng-controller="BlockSchedule">

            {%  if perms.blockdb.schedule.change_sched %}
                <h1>Granted change schedule permissions.</h1>
            {% endif %}

            {% verbatim %}
            <div id="textContent" >
                <div id="blockheading" class="dynamic">
                    <h2>Latest Block Schedule for {{ block.currdate }}</h2>
                    <div id=schedule>
                        <div schedule-nav block="block"></div>
                        <div id="players" block-players-table
                             query-date="block.queryDate">
                        </div>
                        <div schedule-matches query-date="block.queryDate"></div>
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <div id="dialog_confirm"></div>

        </div>
    </div>


{% endblock %}
