{% extends "common/site_base.html" %}
{% load staticfiles %}
{% load less %}

{% block page_style %}
    {{ block.super }}
    <!-- about.html: page_style -->
    {% if debug %}
        <!-- site_base.html: less_script end -->
        <link rel="stylesheet/less" type="text/less" href="{{ STATIC_URL }}less/schedule.less">
    {% else %}
        <!-- site_base.html: less_script end -->
        <link rel="stylesheet" href="{{ STATIC_URL }}{% less 'less/schedule.less' %}">
    {% endif %}
{% endblock %}

{% block angular_script %}
    {{ block.super }}

    <script src="{% static 'js/angular/controllers/blockschedule.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-nav.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/angular/directives/schedule-matches.js' %}" type="text/javascript"></script>

    {% comment %}
    <script src="{% static 'js/angular/directives/block-players.js' %}" type="text/javascript"></script>
    {% endcomment %}
    <script src="{% static 'js/angular/directives/block-players-table.js' %}" type="text/javascript"></script>

{% endblock %}

{% block title %}
    schedule
{% endblock %}
{% block body %}
    <div id="container" class="home dynamic">
        <div id="content" class="dynamic" ng-controller="BlockSchedule">

            {%  if perms.blockdb.schedule.change_sched %}
                <h1>Granted change schedule permissions.</h1>
            {% endif %}

            {% verbatim %}
            <div id="textContent" >
                <div id="blockheading" class="dynamic">
                    <h2>Latest Block Schedule for {{ block.currdate }}</h2>
                    <div id=schedule>
                        <div schedule-nav block="block"></div>
                        <div id="players" block-players-table
                             query-date="block.queryDate">
                        </div>
                        <div schedule-matches query-date="block.queryDate"></div>
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <div id="dialog_confirm"></div>

        </div>
    </div>


{% endblock %}
