{% extends "common/base.html" %}
{% load sekizai_tags %}

{% block mytags %}
    {{ block.super }}
    {% if not isprod %}
        {% add_data "less-data" "home.less" %}
    {% else %}
        {% add_data "css-data" "home.css" %}
    {% endif %}

{% endblock %}

{% block title %}
home
{% endblock %}
{% block content %}
            <div id="textContent">
                <div id="blockheading" class="dynamic">
                    <h2>Block Seasons</h2>
                </div>
                <div>
                    <table border="1">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Courts</td>
                                <td>First Court</td>
                                <td>Start</td>
                                <td>End</td>
                                <td>Block Start</td>
                                <td>Time</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for season in seasons %}
                                <tr>
                                    <td>{{ season.name }}</td>
                                    <td>{{ season.courts}}</td>
                                    <td>{{ season.firstcourt }}</td>
                                    <td>{{ season.startdate }}</td>
                                    <td>{{ season.enddate }}</td>
                                    <td>{{ season.blockstart }}</td>
                                    <td>{{ season.blocktime }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {% if season %}
                        <h3>Current Season:{{ season.name }}</h3>
                        <table border="1">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Holdout</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mtg in meetings %}
                                    <tr>
                                        <td>{{mtg.date}}</td>
                                        <td>{{mtg.holdout}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>

            </div>


{% endblock %}
