
DJANGO_SECRET_KEY=<Create some random value.. 1Password is good for this>

DJANGO_ALLOWED_HOSTS=tennis.local

DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST = 'smtpd'
EMAIL_PORT = 8026

# tennisblock.com
#MAILGUN_API_KEY=
#MAILGUN_SERVER_NAME=
#MAILGUN_SENDER_DOMAIN=

DJANGO_SERVER_EMAIL=TennisBlock <ed@tennisblock.com>
DJANGO_EMAIL_SUBJECT_PREFIX=TennisBlock

DJANGO_SENTRY_DSN=

# Use values from above
# Host is localhost in development
# Port must match the port in your DOCKER_COMPOSE file.
#DATABASE_URL=postgresql://<user>:<password>@<host>:5440/<dbname>
DATABASE_URL=mysql://tennisblock:tennisblock@127.0.0.1:3318/tennisblock

# If using local config, you need to set this to the dist.prod|dist.dev path for webpack
# workding directory is django_root, so can be relative from there
JS_DIST_DIR=../../tennis_angular/dist.dev
