# This is really a template that should be expanded out by the production
# Build process, or manually. The tags in double curly brackets are examples of how Anisble would
# fill in specific values, so this file is pretty suitable to be used as a template
# for an actual .env file for production

SECRET_KEY={{ secret_key }}
NEVERCACHE_KEY={{ nevercache_key }}

WAGTAIL_SITE_NAME={{ wagtail.site_name }}

DJANGO_ADMIN_URL=django-admin/

{% if google_tracking_ui is defined %}
GA_TRACKING_ID={{ google_tracking_ui }}
{% endif %}

DATABASE_URL={{ django.db.type|default(postgresql) }}://{{ django.db.user }}:{{ django.db.password }}@{{ django.db.host }}:{{ django.db.port|default(5432) }}/{{ django.db.name }}

# ToDo: setup the redis cache instance. This needs to be common to all instances, not tied to an instance
{% if redis.host is defined  %}
REDIS_CACHE_URL=redis://{{ redis.host }}:{{ redis.port|default(6379) }}/{{ redis.db|default(2) }}
{% endif %}

DJANGO_SENTRY_DSN={{ sentry.dsn }}
DJANGO_SENTRY_RELEASE={{ deploy_tag }}
SERVER_VERSION={{ deploy_tag }}

# We are behind a load balancer, so we need to allow all hosts
DJANGO_ALLOWED_HOSTS=tennisblock.com,*

STATIC_ROOT={{ app_dir }}
SITE_DIR={{ app_dir }}
MEDIA_ROOT=

{% if mailgun is defined %}
# Mailgun Email Configuration
# And, setup email
EMAIL_BACKEND=anymail.backends.mailgun.EmailBackend
MAILGUN_API_KEY={{ mailgun.apikey }}
MAILGUN_SENDER_DOMAIN={{ mailgun.sender_domain }}
{% endif %}

{% if mailgun.api_base_url is defined %}
# This is pretty standard, so don't need to set it
#MAILGUN_API_URL={{ mailgun.api_base_url }}
{% endif %}

DEFAULT_FROM_EMAIL={{ email.from }}

# Update this after testing locally. Staging will use this value to insure
# We are good before we go to production.
APP_VERSION=v0.10.0

{% if watchman_tokens is defined %}
WATCHMAN_TOKENS={{ watchman_tokens }}
{% endif %}

# Media storage
AWS_ACCESS_KEY_ID={{ aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ aws_scret_access_key }}
AWS_STORAGE_BUCKET_NAME=tennisblock.media
MEDIAFILES_LOCATION=mediafiles

# Enter a CDN url if we have a custom domain name
CDN_URL=https://media.tennisblock.com/

# Webpack stuff - modify to your environment
# CLIENT_BUILD_DIR is the local path to your dist.dev or dist.prod build output
CLIENT_BUILD_DIR=../tennisblock_client/dist.prod
#WEBPACK_STATS_FILE=https://cdn.demo.datapages.io/staticfiles/components/webpack-stats.json

DJANGO_SENTRY_DSN={{ sentry.dsn }}
