{% load url from future %}
{% load staticfiles %}
{% load account_tags %}
{% load i18n %}

<section class="header_bar">
    <div id="top_banner" class="dynamic">
        <!--
        <div class="tagline">Gardenbuzz, where all your dreams come true.. well, not all!</div>
        -->
        <!--
        <div class="titlegraphic"><img src="/static/images/logos/GBLogoSquare.png"></div>
        <div class="veggies dynamic"><img src="/static/images/VeggiesTrimmed.png"></div>
        -->
        <div class="title dynamic"><span>TennisBlock.com</span></div>
        <div class="background dynamic"></div>
        <!--
        <div class="gb_bee dynamic"></div>
        <div class="watercan dynamic"><img src="/static/images/watercan_bee.png"></div>
        -->
    </div>



    <header id="header_bar" class="header {% block navbar_class %}navbar-fixed-top{% endblock %}">
        {% comment %}
            <a href="{% url 'home' %}" id="header_logo" class="">{{SITE_NAME}}</a>
        {% endcomment %}

        {% comment %}
        <img id="header_logo" src="{% static 'images/assets/header_logo.png' %}"/>
        <img id="header_title" src="{% static 'images/assets/gardenbuzz_title.png' %}"/>
        {% endcomment %}
        {% block header_bar_nav %}
            <nav>
                <a href="#">Home</a>
                {% if user.is_authenticated %}
                    <a class="pure-menu-selected" href="{% url 'schedule' %}">Block Schedule</a>
                    <a href="{% url 'availability' %}">Availability</a>
                    <a href="{% url 'seasonplayers' %}">Block Members</a>
                    <a href="{% url 'seasons' %}">Seasons</a>
                    {% if request.user.is_staff %}
                        <a href="{% url THEME_ADMIN_URL|default:"admin:index" %}">
                            <i class="icon-cog"></i> {% trans "ADMIN" %}</a>
                    {% endif %}
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'logout' %}">Log out</a>
                    <a href="{% url 'about' %}">ABOUT</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'about' %}">ABOUT</a>
                {% endif %}
            </nav>
        {% endblock header_bar_nav %}
    </header>

</section>
