<div id="navwrapper" class="pure-menu pure-menu-open pure-menu-horizontal">
    <div>
        <ul class="nav nav-pills">
            <li><a href="#">Home</a></li>
            {% if user.is_authenticated %}
                <li><a class="pure-menu-selected" href="/schedule/">Block Schedule</a></li>
                <li><a href="/availability/">Availability</a></li>
                <li><a href="/members/">Block Members</a></li>
                <li><a href="/seasons/">Seasons</a></li>
                <li><a href="/accounts/profile/">Profile</a></li>
                <li><a href="/accounts/logout/">Log out</a></li>
            {% else %}
                <li><a href="/accounts/login/">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
