.changed {
    background: #E8E8E8;
}

.verified {
    background-color: green;
    color: white;
}

.rejected {
    background-color: lightcoral;
    color: black;
}

.awaiting {
    background-color: lightgray;
    color: black;
}