<div id="top_banner" class="dynamic">
    <!--
    <div class="tagline">Gardenbuzz, where all your dreams come true.. well, not all!</div>
    -->
    <!--
    <div class="titlegraphic"><img src="/static/images/logos/GBLogoSquare.png"></div>
    <div class="veggies dynamic"><img src="/static/images/VeggiesTrimmed.png"></div>
    -->
    <div class="title dynamic"><span>TennisBlock.com</span></div>
    <div class="background dynamic"></div>
    <!--
    <div class="gb_bee dynamic"></div>
    <div class="watercan dynamic"><img src="/static/images/watercan_bee.png"></div>
    -->
</div>
