<!-- footer -->
<div id="gbfooter" class="col-lg-12">

    <ul class="">
        <li class="foottext"><a href="/contact" class="first">Contact Us</a></li>
        <li class="foottext"><a href="/about" >About Us</a></li>
        <!--
        <li id="foot_facebook" class="icon"><a href="https://www.facebook.com/Gardenbuzz" target="_blank"><img src="/static/images/facebook/FB-f-Logo__blue_29.png"/></a></li>
        <li id="foot_twitter" class="icon"><a href="https://twitter.com/GardenBuzz" target="_blank"><img src="/static/images/twitter-bird-light-bgs.png" height="30" width="30"/></a></li>
        -->
    </ul>

</div>
