<div id="window_banner">
    <div class="banner_center">
        <div class="banner_nav">
            <ul class="nav windowbanner">
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/contact/">Subscribe</a></li>
                {% if isLoggedIn %}
                <li><a href="/accounts/logout/">Log out</a></li>
                {% else %}
                <li><a href="/accounts/login/">Login</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="search">
            <input type="text"></input>
            <button>find it</button>
        </div>
    </div>
</div>
